
.input-app {
    background: black;
    color: palegreen;
    border: 1px solid grey;
}

.input-app:active{
    /*border: none;*/
}

.input-app:focus{
    outline: none!important;
}

[contenteditable="true"]:focus{
    outline: none;
}